section.section
  .container
    article.article 
      .row
        .col-12.col-sm-4
          h1.page-title.text-right
            strong
              | HTML
        
        .col-12.col-sm-4
          br
          p
            strong
              | Hypertext Markup Language
            br
            br
            | Lenguage basado en etiquetas que se abren y cierran, donde el continente delimita y asigna valor al contenido.
            
        .col-12.col-sm-4
          p
            br
            |#{"<html></html>"}
            br 
            |#{"<header></header>"}
            br 
            |#{"<body></body>"}
            br 
            |#{"<header></header>"}
            br 
            |#{"<h1></h1>"}
            br
            |#{"<p></p>"}
      
      .row
        .col-12.col-sm-4
          h1.page-title.text-right
            strong
              | CSS
        .col-12.col-sm-4
          br
          p 
            strong
              | Cascading Style Sheet
            br
            br
            | Lenguage basado atributos que se asocian a una etiqueta HTML mediante una clase o id.
        
        .col-12.col-sm-4
          p
            br
            |.titular {
            br
            |  font-family: Arial;
            br
            |  color: red;
            br
            |  font-size: 34px;
            br
            |#{'}'}
          
        
        
